<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=640">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> <%- title %> </title>
  <!-- hiding the Browser’s User Interface -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- iOS 6 -->
  <meta name="apple-mobile-web-app-title" content="">
  <!-- meta start -->
  <meta name="title" content="<%- title %>" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="copyright" content="" />
  <link rel="image_src" href="" />

  <!-- OG -->
  <meta property="og:title" content="<%- title %>" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="fb:app_id" content="" />
  <!-- CSS -->
  <!-- build:css css/lib.css -->
  <!-- endbuild -->
  <!-- css -->
  <link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  
</head>

<body>

  <!-- <%- include('components/header'); -%> -->
  
  <%- contents %>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js"></script>
  <!-- js -->
  <script src="js/index.js"></script>
</body>

</html>